<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= Bom Preço %></title>
</head>
<body>
    <h1><%= Bom Preço %></h1>
    <p>Bem-vindo ao Sistema de Controle de Estoque Bom Preço!</p>
</body>
</html>
